$primary: #37687a;
$secondary: #0c0c0c;

/* ----------------------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $secondary;
  overflow: hidden;
}


/* ------------------ BackGround Image ------------------ */

#bgImg {
  position: absolute;
  height: 100%;
  width: 104%;
  top: -36px;
  left: -2vw;
  padding-bottom: 10px;
  transform: rotate(-7deg);
  z-index: -1;
}


/* ------------------  ------------------ */

button {
  position: absolute;
  right: 5vw;
  bottom: 30px;
  height: 8vh;
  width: 20vh;
  background-color: $primary;
  color: $secondary;
  border-radius: 20vh;
  border: none;
}